.question {
    color: #3F6072;
    font-size: 20px;
    min-height: 5rem;
}

.answersContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}