.button {
    border: 1px solid #52ad9c;
    background: #6ACCBA;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin: auto;
    border-radius: 6px;
    width: 9rem;
    min-width: 4rem;
    height: 2rem;
    text-align: center;
}

.buttonSecondary {
    border: 1px solid #52ad9c;
    background: white;
    color: #6ACCBA;
}
  
.button:hover,
.button:active {
    background: #52ad9c;
    border-color: #3d9081;
    color: white;
}

.button:disabled {
    background: #deedea;
    border-color: #d2e1de;
    color: #6b8ea1;
    cursor: unset;
}

.button:focus {
    outline: none;
}